<h1>Editing college class</h1>

<%= render "form", college_class: @college_class %>

<br>

<div>
  <%= link_to "Show this college class", @college_class %> |
  <%= link_to "Back to college classes", college_classes_path %>
</div>
